NET "led_hi[10]" LOC = N24;
NET "led_hi[11]" LOC = N23;
NET "led_hi[12]" LOC = F23;
NET "led_hi[13]" LOC = F24;
NET "led_hi[14]" LOC = L24;
NET "led_hi[15]" LOC = M23;
NET "led_hi[8]" LOC = G23;
NET "led_hi[9]" LOC = H23;
NET "led_low[0]" LOC = AF24;
NET "led_low[1]" LOC = AF25;
NET "led_low[2]" LOC = W24;
NET "led_low[3]" LOC = V24;
NET "led_low[4]" LOC = H24;
NET "led_low[5]" LOC = H25;
NET "led_low[6]" LOC = P24;
NET "led_low[7]" LOC = R24;
NET "gbe_fok"    LOC = K23;
NET "f_sclk"     LOC = W27;
# NET "f_sdat"     LOC = R32;
NET "rst_qpll"   LOC = U30;
NET "qpll_lock"  LOC = M22;
NET "tmb_clock0" LOC = B31; # LHC_Clk  io_600
# NET "tmb_clock1" LOC = K24; # GCLK1_6P

NET "pb" LOC = V29;
NET "pb" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sw[7]" LOC = U25;
NET "sw[7]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sw[8]" LOC = U26;
NET "sw[8]" CLOCK_DEDICATED_ROUTE = FALSE;

# make sure critical VME signals keep the bus in a safe state
NET "vme_cmd10"    LOC = AK24;  # IACKIN
NET "vme_reply[0]" LOC = AF20; #  io_[110] OE_b, low true
NET "vme_reply[1]" LOC = AE21; #  io_[111] DIR
NET "vme_reply[2]" LOC = AF19; #  io_[112] DTACK, inverted on TMB board
NET "vme_reply[3]" LOC = AL20; #  io_[113] IACKOUT, inverted on TMB board?
NET "vme_reply[4]" LOC = AD20; #  io_[114] BERR, inverted on TMB board
NET "vme_reply[5]" LOC = AD19; #  io_[115] IRQ, inverted on TMB board
NET "vme_reply[6]" LOC = AE19; #  io_[116] vme_ready, High enables 0-5 above?

# make sure all directional backplane buffers are in a safe state:
#   /gtl_oe=0 (normal mode), gtl_loop=0, dmb_loop=0, rpc_loop=0, ccb_status_oe=1, /dmb_oe=0
NET "_gtl_oe" LOC = F21; #  io_[311]
NET "gtl_loop" LOC = G21; #  io_[309]
NET "dmb_loop" LOC = J22; #  io_[308]
NET "rpc_loop" LOC = J21; #  io_[306]
NET "ccb_status_oe" LOC = G20; #  io_[310]
NET "_dmb_oe" LOC = K22; #  io_[307]
NET "step[4]" LOC = C18; #  io_[297]
NET "step[3]" LOC = L20; #  io_[298]
NET "step[2]" LOC = D19; #  io_[299]
NET "step[1]" LOC = J20; #  io_[300]
NET "step[0]" LOC = H20; #  io_[301]

# other critical control pins
NET "_hard_reset_alct_fpga" LOC = AC20; #  io_[124]  --_alct_hard_rst
NET "_hard_reset_tmb_fpga" LOC = AC19; #  io_[125]  --_tmb_hard_rst

NET "_ccb_tx[26]" LOC = AG23; #  io_[1]
NET "_ccb_tx[25]" LOC = AD31; #  io_[500]
NET "_ccb_tx[24]" LOC = AD30; #  io_[499]
NET "_ccb_tx[23]" LOC = AC28; #  io_[498]
NET "_ccb_tx[22]" LOC = AE24; #  io_[497]
NET "_ccb_tx[21]" LOC = AB30; #  io_[496]
NET "_ccb_tx[20]" LOC = AB25; #  io_[495]
NET "_ccb_tx[19]" LOC = AB26; #  io_[494] alct_cfg_done
NET "_ccb_tx[18]" LOC = AB31; #  io_[493] tmb_cfg_done
# alct/clct_status bus output to CCB-FP (common to all TMBs)
NET "_ccb_tx[17]" LOC = AE28; #  io_[19] alct_status8
NET "_ccb_tx[16]" LOC = AF28; #  io_[18]
NET "_ccb_tx[15]" LOC = AD22; #  io_[17]
NET "_ccb_tx[14]" LOC = AA23; #  io_[16]
NET "_ccb_tx[13]" LOC = AC27; #  io_[15]
NET "_ccb_tx[12]" LOC = AD29; #  io_[14]
NET "_ccb_tx[11]" LOC = AB23; #  io_[13]
NET "_ccb_tx[10]" LOC = AC30; #  io_[12]
NET "_ccb_tx[9]" LOC = AC29; #  io_[11] alct_status0
NET "_ccb_tx[8]" LOC = AF30; #  io_[10] clct_status8
NET "_ccb_tx[7]" LOC = AC22; #  io_[9]
NET "_ccb_tx[6]" LOC = AD24; #  io_[8]
NET "_ccb_tx[5]" LOC = AG30;  #  io_[7]
NET "_ccb_tx[4]" LOC = AF29;  #  io_[6]
NET "_ccb_tx[3]" LOC = AC23; #  io_[5]
NET "_ccb_tx[2]" LOC = AE31;  #  io_[4]
NET "_ccb_tx[1]" LOC = AF31;  #  io_[3]
NET "_ccb_tx[0]" LOC = AE29;  #  io_[2] clct_status0

# signals from CCB 
NET "_ccb_rx[0]" LOC = AG28; # io36, clk40en, really a clock itself
# NET "_ccb_rx<0>" CLOCK_DEDICATED_ROUTE = FALSE;  # to avoid BUFG error
NET "_ccb_rx[1]" LOC = AM32;  # L1reset
NET "_ccb_rx[2]" LOC = AN32; #
NET "_ccb_rx[3]" LOC = AG27; #
NET "_ccb_rx[4]" LOC = AC25; #
NET "_ccb_rx[5]" LOC = AD27; #
NET "_ccb_rx[6]" LOC = AP32; #
NET "_ccb_rx[7]" LOC = AM31; #
NET "_ccb_rx[8]" LOC = AP30;  # ccb_evcntres
NET "_ccb_rx[9]" LOC = AF26;  # ccb_bcntres
NET "_ccb_rx[10]" LOC = AE27; # ccb_cmdstrobe
NET "_ccb_rx[11]" LOC = AD25; # ccb_bx0
NET "_ccb_rx[12]" LOC = AD26; # L1accept
NET "_ccb_rx[13]" LOC = AE26; #
NET "_ccb_rx[14]" LOC = AM30; #
NET "_ccb_rx[15]" LOC = AP29; #
NET "_ccb_rx[16]" LOC = AM28; #
NET "_ccb_rx[17]" LOC = AK31; #
NET "_ccb_rx[18]" LOC = AB28; #
NET "_ccb_rx[19]" LOC = AH30; #
NET "_ccb_rx[20]" LOC = AK33; #
NET "_ccb_rx[21]" LOC = AK34; #
NET "_ccb_rx[22]" LOC = AL33; # 
NET "_ccb_rx[23]" LOC = AL31; #
NET "_ccb_rx[24]" LOC = AL30; #
NET "_ccb_rx[25]" LOC = AK32; #
NET "_ccb_rx[26]" LOC = AL34; #
NET "_ccb_rx[27]" LOC = AJ30; #
NET "_ccb_rx[28]" LOC = AJ29; #
NET "_ccb_rx[29]" LOC = AH29; #
NET "_ccb_rx[30]" LOC = AM33; #
NET "_ccb_rx[31]" LOC = AN34; #
NET "_ccb_rx[32]" LOC = AN33; #
NET "_ccb_rx[33]" LOC = AP33; #
NET "_ccb_rx[34]" LOC = AA26; #
NET "_ccb_rx[35]" LOC = AB27; #
NET "_ccb_rx[36]" LOC = AA28; #
NET "_ccb_rx[37]" LOC = Y27;  #
NET "_ccb_rx[38]" LOC = AA29; #
NET "_ccb_rx[39]" LOC = AG32; # dmb_cfebcalib0
NET "_ccb_rx[40]" LOC = AA30; # dmb_cfebcalib1
NET "_ccb_rx[41]" LOC = Y29;  # dmb_cfebcalib2
NET "_ccb_rx[42]" LOC = Y26;  # io482, dmb_l1a_release
NET "_ccb_rx[43]" LOC = AG31; # io483, dmb_reservedout0
NET "_ccb_rx[44]" LOC = AH34; # io484, dmb_reservedout1
NET "_ccb_rx[45]" LOC = AJ34; # io485, dmb_reservedout2
NET "_ccb_rx[46]" LOC = AA31; # io486, dmb_reservedout3
NET "_ccb_rx[47]" LOC = Y28;  # io487, dmb_reservedout4
NET "_ccb_rx[48]" LOC = AH33; # io488, dmb_reservedin0
NET "_ccb_rx[49]" LOC = AA25; # io489, dmb_reservedin1
NET "_ccb_rx[50]" LOC = AH32; # io490, dmb_reservedin2

NET "test_led[1]" LOC = T29;
NET "test_led[2]" LOC = R31;
NET "test_led[3]" LOC = T26;
NET "test_led[4]" LOC = R29;
NET "test_led[5]" LOC = R27;
NET "test_led[6]" LOC = T30;
NET "test_led[7]" LOC = U28;
NET "test_led[8]" LOC = T28;
NET "test_led[9]" LOC = T25;
NET "test_led[10]" LOC = U27;
# should try LV_DCI standard sometime...

NET "ck125n" LOC = H9 | IOSTANDARD = "LVDS_25";  // 2.5V IO is Xilinx-V6 default anyway
NET "ck125p" LOC = J9 | IOSTANDARD = "LVDS_25";
NET "ck125" TNM_NET = "clock125";
TIMESPEC "TS_clock125" = PERIOD "clock125" 8 ns HIGH 50%;
# NET "ck125p" period=8ns high 50%;

NET "ck_gben" LOC = P5 | IOSTANDARD = "LVDS_25";
NET "ck_gbep" LOC = P6 | IOSTANDARD = "LVDS_25";
NET "ckgbe" TNM_NET = "clock_gbe";
TIMESPEC "TS_clock_gbe" = PERIOD "clock_gbe" 8 ns HIGH 50%;
# NET "ck_gbep" period=8ns high 50%;

NET "ck160n" LOC = AB5 | IOSTANDARD = "LVDS_25";
NET "ck160p" LOC = AB6 | IOSTANDARD = "LVDS_25";
# NET "ck160" TNM_NET = "clock160";
NET "snap_clk2" TNM_NET = "clock160";
TIMESPEC "TS_clock160" = PERIOD "clock160" 6.25 ns HIGH 50%;

NET "lhc_ckn" LOC = B10 | IOSTANDARD = "LVDS_25";  # this is differential 40 MHz from QPLL
NET "lhc_ckp" LOC = A10 | IOSTANDARD = "LVDS_25";
NET "qpll_ck40" TNM_NET = "qpllck40";
TIMESPEC "TS_qpllck40" = PERIOD "qpllck40" 25 ns HIGH 50%;

NET "lhc_ck" TNM_NET = "lhc_clock";  # this is from tmb_clock0
TIMESPEC "TS_lhc_clock" = PERIOD "lhc_clock" 25 ns HIGH 50%;


# location for gbe mgt: gtx19
NET "gbe_txn" LOC = A4 | IOSTANDARD = "LVDS_25";
NET "gbe_txp" LOC = A3 | IOSTANDARD = "LVDS_25";
NET "gbe_rxn" LOC = B6 | IOSTANDARD = "LVDS_25";
NET "gbe_rxp" LOC = B5 | IOSTANDARD = "LVDS_25";

# location for snap fiber7 mgt: gtx2/rx11
NET "txn[7]" LOC = AM2 | IOSTANDARD = "LVDS_25";
NET "txp[7]" LOC = AM1 | IOSTANDARD = "LVDS_25";
NET "rxn[7]" LOC = R4 | IOSTANDARD = "LVDS_25";
NET "rxp[7]" LOC = R3 | IOSTANDARD = "LVDS_25";

# snap Tx/Rx control lines
NET "t12_rst"   LOC = AC24;
NET "t12_sclk"  LOC = V27;
NET "t12_fault" LOC = P32;
# NET "t12_sda"   LOC = A31;
NET "r12_sclk"  LOC = W26;
NET "r12_fok"   LOC = M30;
# NET "r12_sda"   LOC = H29;



# 3.3V initial testing inputs (temporary) for "test_in[13:0]" on Mezz #1
NET "alct_rx[7]" LOC = D24;   # io333
NET "alct_rx[8]" LOC = E24;   # io332
NET "alct_rx[9]" LOC = E22;   # io331
NET "alct_rx[10]" LOC = E23;  # io330
NET "alct_rx[11]" LOC = C23;  # io329
NET "alct_rx13" LOC = C22;  # io327
NET "alct_rx19" LOC = H22;  # io321
NET "alct_rx23" LOC = G22;  # io317
NET "prom_d3" LOC = D15;    # io279
NET "prom_d7" LOC = D17;    # io275
NET "jtag_fpga3" LOC = K16; # io263
NET "sda0" LOC = K21;       # io302
NET "tmb_sn" LOC = F20;     # io274
NET "t_crit" LOC = M16;    # io267

# TI Level Shifter to FPGA  Checked All LOC pins!
##NET "rpc_rx[2]" LOC = AG30; # io_370
#NET "rpc_rx[5]" LOC = H30; #  io_373  -F33 H30 Wrong in FPGA1.net
#NET "rpc_rx[6]" LOC = B32; #  io_374  -E32 B32
#NET "rpc_rx[7]" LOC = F30; #  io_375  -G32 F30
#NET "rpc_rx[8]" LOC = J30; #  io_376  -H34 J30
#NET "rpc_rx[9]" LOC = B34; #  io_377  -H33 B34
#NET "rpc_rx[10]" LOC = A33; # io_378  -M30 A33
#NET "rpc_rx[11]" LOC = B33; # io_379  -W26 B33
#NET "rpc_rx[12]" LOC = E31; # io_380  -V29 E31
#NET "rpc_rx[13]" LOC = C33; # io_381  -V28 C33
#NET "rpc_rx[14]" LOC = D31; # io_382  -L25 D31 xp4.d38=io259  was io346 -below
#NET "rpc_rx[15]" LOC = G31; # io_383  -A33 G31
#NET "rpc_rx[16]" LOC = G30; # io_384  -B33 G30
#NET "rpc_rx[17]" LOC = C32; # io_385  -E31 C32 xp4.d32=io283  was io349 -below
#NET "rpc_rx[18]" LOC = C34; # io_386  -C33 C34 xp4.d28=io299  was io342 -below
#NET "rpc_rx[19]" LOC = F31; # io_387  -D31 F31
#NET "rpc_rx[20]" LOC = E33; # io_388  -G31 E33
#NET "rpc_rx[21]" LOC = D32; # io_389  -G30 D32 xp4.d31=io287  was io345 -below
#NET "rpc_rx[22]" LOC = D34; # io_390  -C32 D34 xp4.d26=io307  was io310 -below
#NET "rpc_rx[23]" LOC = G33; # io_391  -C34 G33
#NET "rpc_rx[24]" LOC = F33; # io_392  -F31 F33
#NET "rpc_rx[25]" LOC = E32; # io_393  -E33 E32 xp4.d30=io291  was io341 -below
#NET "rpc_rx[26]" LOC = G32; # io_394  -D32 G32 xp4.d25=io311  was io306 -below
#NET "rpc_rx[27]" LOC = H34; # io_395  -D34 H34
#NET "rpc_rx[28]" LOC = H33; # io_396  -G33 H33

# all the DMB signals:
NET "dmb_rx[0]" LOC = U33; #
NET "dmb_rx[1]" LOC = W31; #
NET "dmb_rx[2]" LOC = U32; #
NET "dmb_rx[3]" LOC = T34; #
NET "dmb_rx[4]" LOC = V34; #
NET "dmb_rx[5]" LOC = U31; #
NET "dmb_o3tx[48]" LOC = R33; #  io_[426]
NET "dmb_o3tx[45]" LOC = R34; #  io_[429]
NET "dmb_o3tx[44]" LOC = T33; #  io_[430]
NET "dmb_i3tx[43]" LOC = T31; #  io_[437]
NET "dmb_i3tx[39]" LOC = W32; #  io_[441]
NET "dmb_o2tx[33]" LOC = Y34; #  io_[447]
NET "dmb_o2tx[32]" LOC = W34; #  io_[448]
NET "dmb_i2tx[29]" LOC = Y32; #  io_[451]
NET "dmb_i2tx[28]" LOC = Y33; #  io_[452]
NET "dmb_i2tx[25]" LOC = AA33; #  io_[455]
NET "dmb_i2tx[24]" LOC = AA34; #  io_[456]
NET "dmb_o1tx[21]" LOC = AC34; #  io_[459]
NET "dmb_o1tx[20]" LOC = AB33; #  io_[460]
NET "dmb_o1tx[17]" LOC = AD32; #  io_[463]
NET "dmb_o1tx[16]" LOC = AC33; #  io_[464]
NET "dmb_i1tx[13]" LOC = AE34; #  io_[467]
NET "dmb_i1tx[12]" LOC = AD34; #  io_[468]
NET "dmb_i1tx[9]" LOC = AE32; #  io_[471]
NET "dmb_i1tx[8]" LOC = AE33; #  io_[472]
NET "dmb_tx[5]" LOC = AF33; #  io_[475]
NET "dmb_tx[4]" LOC = AF34; #  io_[476]
NET "dmb_tx[3]" LOC = AG33;#  io_[512]
NET "dmb_tx[2]" LOC = Y31; #  io_[513]
NET "dmb_o3tx[47]" LOC = A9;  #  io_[427]_a9 
NET "dmb_o3tx[46]" LOC = A8;  #  io_[428]_a8
NET "dmb_i3tx[42]" LOC = B8;  #  io_[438]_a5
NET "dmb_i3tx[41]" LOC = C10; #  io_[439]_a13
NET "dmb_i3tx[40]" LOC = C9;  #  io_[440]_a11
NET "dmb_i3tx[38]" LOC = C8;  #  io_[442]_a4
NET "dmb_o2tx[37]" LOC = D10; #  io_[443]_a12
NET "dmb_o2tx[36]" LOC = D9;  #  io_[444]_a10
NET "dmb_o2tx[35]" LOC = E8;  #  io_[445]_a7
NET "dmb_o2tx[34]" LOC = E9;  #  io_[446]_a6
NET "dmb_i2tx[31]" LOC = F10; #  io_[449]_a14
NET "dmb_i2tx[30]" LOC = F9;  #  io_[450]_a15
NET "dmb_i2tx[27]" LOC = AD9; #  io_[453]_a25
NET "dmb_i2tx[26]" LOC = AC9; #  io_[454]_a2
NET "dmb_o1tx[23]" LOC = AE9; #  io_[457]_a24
NET "dmb_o1tx[22]" LOC = AD10;#  io_[458]_a3
NET "dmb_o1tx[19]" LOC = AF9; #  io_[461]_a21
NET "dmb_o1tx[18]" LOC = AF10;#  io_[462]_a20
NET "dmb_i1tx[15]" LOC = AK9; #  io_[465]_a23
NET "dmb_i1tx[14]" LOC = AH8; #  io_[466]_a16
NET "dmb_i1tx[11]" LOC = AL9; #  io_[469]_a22
NET "dmb_i1tx[10]" LOC = AG8; #  io_[470]_a17
NET "dmb_tx[7]" LOC = AL8; #  io_[473]_a0
NET "dmb_tx[6]" LOC = AK8; #  io_[474]_a1
NET "dmb_tx[1]" LOC = AN9; #  io_[514]_a19
NET "dmb_tx[0]" LOC = AP9; #  io_[515]_a18

# FPGA to TI Level Shifter via Loopback board
## added for new loopback board
#NET "io_259" LOC = G15; # cfeb_oe     -replaces io_346
#NET "io_283" LOC = J19; # prom_ctrl5  -replaces io_349
#NET "io_287" LOC = H18; # prom_ctrl1  -replaces io_345
#NET "io_291" LOC = G18; # sel_usr1    -replaces io_341
#NET "io_299" LOC = D19; # step2       -replaces io_342
#NET "io_307" LOC = K22; # ~dmb_oe     -replaces io_310
#NET "io_311" LOC = F21; # ~gtl_oe     -replaces io_306
## original loopback board
#NET "io_286" LOC = M18; # prom_ctrl2 -OK
#NET "io_298" LOC = L20; # step3 -OK
#NET "io_306" LOC = J21; # rpc_loop -OK
#NET "io_310" LOC = G20; # ccbstat_oe -OK
#NET "io_[340]" LOC = D25; # rpc_tx3
#NET "io_[341]" LOC = F25; # alct_rxoe_tx
#NET "io_[342]" LOC = F26; # alct_loop
#NET "io_[343]" LOC = E26; # alct_tx23
#NET "io_[344]" LOC = G27; # alct_tx22
#NET "io_[345]" LOC = G26; # alct_tx21
#NET "io_[346]" LOC = E27; # alct_tx20
#NET "io_[347]" LOC = D27; # alct_txoe
#NET "io_[348]" LOC = D26; # alct_clk_en
#NET "io_[349]" LOC = K26; # alct_tx19  -AC27 Wrong in FPGA1.net
#NET "io_[350]" LOC = K27; # alct_tx16  -AF28
#NET "io_[351]" LOC = E28; # alct_tx15
#NET "io_[352]" LOC = J26; # alct_tx14  -AE28
#NET "io_[353]" LOC = G28; # alct_tx13
#NET "io_[354]" LOC = L26; # alct_tx12  -AE29
#NET "io_[355]" LOC = D29; # alct_tx11
#NET "io_[356]" LOC = F28; # alct_tx10
#NET "io_[357]" LOC = H27; # alct_tx9
#NET "io_[358]" LOC = J27; # alct_tx8  -AF31  -- don't need
#NET "io_[359]" LOC = K29; # alct_tx7   -K26
#NET "io_[360]" LOC = J29; #  -- don't need
#NET "io_[361]" LOC = K28; # alct_tx5   -J26
